*
{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}
.container{
    position: absolute; 
    width: 957px;
    height: 957px;
}

h1, h2, p{
    font-family: courier;
    color: white;
}

.container:hover .text{
   display: block;
   background: rgba(0, 0, 0, .7);
}

.container .text{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #FFF;
  text-align: center;
  padding-top: 10px;
  font-family: "courier";
  font-size: 20px;
}

ul li a{
    color: white;
    text-decoration: none;
}

a{
    color: white;
    text-decoration: underline;
}
ul{
    list-style-type: none;
}

td, th{
    border: 1px solid black;
    text-align: left;
    #padding: 3px;
}

#pagetwo{
    margin-left: 958px;
}

#twicecoaster1{
    margin-top: 958px;
}

#twicecoaster2{
    margin-top: 958px;
    margin-left: 958px;
}

#signal{
    margin-top:1916px;
}

#hstwice{
    margin-top: 1916px;
    margin-left: 958px;
}

#twicetagram{
    margin-top: 2874px;
}

#merryandhappy{
    margin-top: 2874px;
    margin-left: 958px;
}

#whatislove{
    margin-top:3832px;
}

#summernights{
    margin-top:3832px;
    margin-left: 958px;
}

#bdz{
    margin-top: 4785px;
}

#yesoryes{
    margin-top: 4785px;
    margin-left: 958px;
}

#theyearofyes{
    margin-top: 5742px;
}

#bdzre{
    margin-top: 5742px;
    margin-left: 958px;
}

#fancyyou{
    margin-top: 6700px;
}

#feelspecial{
    margin-top: 6700px;
    margin-left: 958px;
}