body{
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0.7);
}

/* NAV BAR */
#nav-bar{
width: 100%;
display: flex;
height: 60px;
font-size: 20px;
font-family: "Montserrat";
background-color: rgba(0,0,0,0.4);
}

#nav-bar ul{
  margin-left: auto;
  margin-top: 0;
}

#nav-bar li{
  display: inline;
  padding: 0px 15px;
  line-height: 60px;
}

#nav-bar a{
  text-decoration: none;
  color: white;
  padding: 10px;
}

#nav-bar p{
  margin: 0px 0px 0px 15px;
  line-height: 60px;
  background:linear-gradient(to bottom right, #ff5fa2, #FCC89B);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 30px;
}

#nav-bar a:hover{
  background:linear-gradient(to bottom right, #ff5fa2, #FCC89B);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* INDIVIDUAL ALBUMS */
#albums img{
  clear: both;
  flex: 1;
  width: 49%;
  border: 1px solid black;
}

#albums .album{
  display: flex;
}

#albums .text{
  position: relative;
  text-align: center;
  float: left;
  display: block;
  padding-top: 15px;
  flex: 2;
  font-family: "Montserrat";
  color: white;
  border: 1px solid black;
}


#albums .heading{
  font-size: 25px;
  font-weight: 600;
}

/* TEXT */
#albums a{
    text-decoration: underline;
    color: #30e0ff;
}
ul{
    list-style-type: none;
    text-align: center;
    margin-right: 35px;
}

td, th{
    border: 1px solid black;
    text-align: left;
}

/* DROPDOWN BUTTON */
.dropdown{
    display: inline-block;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    bottom: 0;
}

.dropbtn{
    color: white;
    background-color: rgba(0,0,0,0.25);
    padding: 9px;
    font-size: 30px;
    border: none;
    font-family: Montserrat;
    z-index: 999;
    position: sticky;
    top: 0;
    width: 250px;
}

.dropdown-content{
    position: relative;
    background-color:rgba(0,0,0);
    width: 300px;
    z-index: 999;
    display: none;
}

.dropdown:hover .dropdown-content{
    display: inline;
}

.dropdown ul{
  text-align: left;
  padding: 0;
  margin: 0;
}

.dropdown li{
  padding: 5px;
  background: linear-gradient(to right, #ff5fa2, #FCC89B);
  background-clip: text;
  -webkit-background-clip: text;
  border: 1px solid black;
  color: transparent;
  font-family: Montserrat;
  font-size: 15px;
}

.dropdown a{
  text-decoration: none;
  color: transparent;
}

.dropdown li:hover{
  background: linear-gradient(to left, #ff5fa2, #FCC89B);
  background-clip: text;
  -webkit-background-clip: text;
}
