body{
  margin: 0;
  padding: 0;
}

/*Global*/
.container{
  width: 100%;
  margin: auto;
  font-family: courier;
  overflow: hidden;
}

/*Main Nav*/
.main-nav{
  background-color: white;
  min-height: 50px;
  margin-bottom: -5px;
}

.main-nav #menu{
  list-style-type: none;
  display: inline;
  float: right;
  margin-top: 17px;
}

.main-nav #menu a{
  font-family: courier;
  text-decoration: none;
  padding: 10px;
  font-size: 25px;
}

.main-nav #menu li{
  display: inline;
}

.main-nav #menu a:hover{
  border: 1px solid black;
}
.main-nav #branding{
  float: left;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 30px;
}

/* BANNER */

:root{
  --width: 100%;
  --height: calc(2160px*(var(--width)/3840px));
}

#banner{
  width: 100%;
  background:url(banner.png) no-repeat;
  min-height: 200px;
  text-align: center;
  margin: auto;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

#banner .bannerlabel{
  font-size: 50px;
  font-family: courier;
  margin-top: 75px;
  color: white;
  opacity: 1;
}

/* PICTURES */
#pictures .b .buttons{
  min-width: 255px;
  padding: 10px;
  background: white;
  border: 1px solid black;
  display: block;
  font-family: courier;
  margin: 5px;
  font-size: 30px;
  text-transform: uppercase;
  transition: 0.3s all ease;
}

#pictures .b .buttons:hover{
  color: white;
}

#pictures .member{
  display: none;
}

#pictures img{
  margin: 5px;
  float: right;
}

.member img{
  width: 400px;
  height: 400px;
  object-fit: cover;
}

/*MEMBER BUTTON HOVERS*/
#pictures .b #nayeon:hover{
  background: #5BDBF5;
}

#pictures .b #jeongyeon:hover{
  background: #C4FF32;
}

#pictures .b #momo:hover{
  background: #EC69F4;
}

#pictures .b #sana:hover{
  background: #AC14B1;
}

#pictures .b #jihyo:hover{
  background: #fbceb1;
}

#pictures .b #mina:hover{
  background: #54F5A7;
}

#pictures .b #dahyun:hover{
  background: white;
  color: black;
}

#pictures .b #chaeyoung:hover{
  background: #F76253;
}

#pictures .b #tzuyu:hover{
  background: #5A76F3;
}

#pictures .b #ot9:hover{
  background: linear-gradient(to bottom right, #FF2965, #fbceb1);
}
