body{
  margin: 0;
  padding: 0px;
  background: linear-gradient(#fe97a4, #fccfa6);
}

/* NAV BAR */
#nav-bar{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    width: 100%;
    height: 65px;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid black;
    background-color: white;
}

#nav-bar #logo{
  float: left;
  padding-left: 20px;
  margin-top: -20px;
  font-size: 30px;
  padding-top: 5px;
}

#nav-bar #links-nav{
  float: right;
}


#nav-bar #links li{
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
}

#nav-bar #links a{
  text-decoration: none;
}
/*PICTURES GLOBAL */

table{
  position: relative;
}

#members{
  width: 100%;
  font-family:  "Montserrat", sans-serif;
  position: relative;
  padding-top: 16px;
}

#members .name{
  font-size: 30px;
}

#members .text{
  margin-top: -30px;
  text-align: center;
  width: 50%
}

#members .sec{
  padding-top: 15px;
}

#members .text li{
  padding-top: 5px;
  padding-bottom: 5px;
}

#members .desc{
  font-size: 17px;
}

#members img{
  width: 50%;
  position: relative;
  /*animation: fade 27s infinite;
  opacity: 0;*/
}

@keyframes fade{
  0% {opacity: 0}
  3.7% {opacity: 1}
  11.11% {opacity: 1}
  14.81% {opacity: 0}
  100% {opacity: 0}
}

#members .pic1{
  animation-delay: 0s;
}
#members .pic2{
  animation-delay: 3s;
}

#members .pic3{
  animation-delay: 6s;
}

#members .pic4{
  animation-delay: 9s;
}

#members .pic5{
  animation-delay: 12s;
}

#members .pic6{
  animation-delay: 15s;
}

#members .pic7{
  animation-delay: 18s;
}

#members .pic8{
  animation-delay: 21s;
}

#members .pic9{
  animation-delay: 24s;
}

#members ul{
  display: block;
  text-align: center;
  list-style-position: inside;
}

/* NAYEON */
#nayeon img{
  margin-top: -16px;
  float: left;
}

#nayeon .text{
  float: right;
}

/* JEONGYEON */
#jeongyeon{
  clear: both;
}

#jeongyeon .text{
  float: left;
}

#jeongyeon img{
  float: right;
}

/*MOMO*/
#momo{
  clear: both;
}

#momo img{
  float: left;
}

#momo .text{
  float: right;
}

/* SANA */
#sana{
  clear: both;
}

#sana img{
  float: right;
}

#sana .text{
  float: left;
}

/*JIHYO*/
#jihyo{
  clear: both;
}

#jihyo img{
  float: left;
}

#jihyo .text{
  float: right;
}

/*MINA*/
#mina{
  clear: both;
}

#mina img{
  float: right;
}

#mina .text{
  float: left;
}

/*DAHYUN*/
#dahyun{
  clear: both;
}

#dahyun img{
  float: left;
}

#dahyun .text{
  float: right;
}

/*CHAEYOUNG*/
#chaeyoung{
  clear: both;
}

#chaeyoung img{
  float: right;
}

#chaeyoung .text{
  float: left;
}

/*TZUYU*/
#tzuyu{
  clear: both;
}

#tzuyu img{
  float: left;
}

#tzuyu .text{
  float: right;
}
